body { 
background-color: #0b0c10; color: #fff; 
}
.descripcion {
    display: flex;
    color: white;
    align-items: center;
    justify-content: start;
    text-align: justify;
}
#misiones div div {
    padding: 12px;
}